In [1]:
import os
import plaid
import requests
import datetime
import json
import pandas as pd
%matplotlib inline

In [24]:
def pretty_print_response(response):
  print(json.dumps(response, indent=4, sort_keys=True))

def find_category(c):
    catergory=[i[0] for i in list(c)]
    return list(map(lambda t: t,catergory))

def create_dataframe(column_names,source_data):
     transformed_data= [{k: v for k, v in x.items() if k in column_names} for x in source_data]
     return pd.DataFrame(transformed_data).apply(lambda y: find_category(y[0:]) if y.name in ['category'] else y)

In [3]:
PLAID_CLIENT_ID = os.getenv('PLAID_CLIENT_ID')
PLAID_SECRET = os.getenv('PLAID_SECRET')
PLAID_PUBLIC_KEY = os.getenv('PLAID_PUBLIC_KEY')
PLAID_ENV = os.getenv('PLAID_ENV', 'sandbox')
PLAID_PRODUCTS = os.getenv('PLAID_PRODUCTS', 'transactions')

# Plaid Access Token

In this section, you will use the plaid-python api to generate the correct authentication tokens to access data in the free developer Sandbox. This mimics how you might connect to your own account or a customer account, but due to privacy issues, this homework will only require connecting to and analyzing the fake data from the developer sandbox that Plaid provides. 

Complete the following steps to generate an access token:
1. Create a client to connect to paid
2. Use the client to generate a public token and request the following items: 
['transactions', 'income', 'assets']
3. Exchange the public token for an access token
4. Test the access token by requesting and printing the available test accounts

### 1. Create a client to connect to plaid

In [4]:
INSTITUTION_ID = "ins_109508"

In [5]:
# YOUR CODE HERE
client = plaid.Client(client_id=PLAID_CLIENT_ID, secret=PLAID_SECRET, public_key=PLAID_PUBLIC_KEY, environment=PLAID_ENV)

### 2. Generate a public token

In [6]:
# YOUR CODE HERE
create_tkn_response = client.Sandbox.public_token.create(INSTITUTION_ID, ['transactions','income','assets'])

### 3. Exchange the public token for an access token

In [7]:
# YOUR CODE HERE
exchange_response = client.Item.public_token.exchange(create_tkn_response['public_token'])
access_token = exchange_response['access_token']

### 4. Fetch Accounts

In [8]:
pretty_print_response( client.Accounts.get(access_token))

{
    "accounts": [
        {
            "account_id": "eBMKXMjyvghjLB3AdL1WIQNDqWwDy3sL4lPjv",
            "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
            },
            "mask": "0000",
            "name": "Plaid Checking",
            "official_name": "Plaid Gold Standard 0% Interest Checking",
            "subtype": "checking",
            "type": "depository"
        },
        {
            "account_id": "QLp8Mp17JrT5zLQJAzNWcREdDJedqocp5WB86",
            "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
            },
            "mask": "1111",
            "name": "Plaid Saving",
            "official_name": "Plaid Silver Standard 0.1% Interest Saving",
            "subtype": "savings",
            "type": "depository"
        },
        {
            "account_id": "ZnE9MEKpqPTKLdyXAL3bFqlbpWjb4LTg6DWKq",
            "balances": {
                "available": null,
                "current": 1000,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
            },
            "mask": "2222",
            "name": "Plaid CD",
            "official_name": "Plaid Bronze Standard 0.2% Interest CD",
            "subtype": "cd",
            "type": "depository"
        },
        {
            "account_id": "MQgL4geR7yc51AJZN1PLcnbN8mWNPxc9J8kMg",
            "balances": {
                "available": null,
                "current": 410,
                "iso_currency_code": "USD",
                "limit": 2000,
                "unofficial_currency_code": null
            },
            "mask": "3333",
            "name": "Plaid Credit Card",
            "official_name": "Plaid Diamond 12.5% APR Interest Credit Card",
            "subtype": "credit card",
            "type": "credit"
        },
        {
            "account_id": "1g6vV6jLlzIq1RgvX1BDFKlBgaoBbjh58GVJ8",
            "balances": {
                "available": 43200,
                "current": 43200,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
            },
            "mask": "4444",
            "name": "Plaid Money Market",
            "official_name": "Plaid Platinum Standard 1.85% Interest Money Market",
            "subtype": "money market",
            "type": "depository"
        },
        {
            "account_id": "Lep1ap7QVmf5VkgwMVP1cv3PgEoPw8uPXyBrJ",
            "balances": {
                "available": null,
                "current": 320.76,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
            },
            "mask": "5555",
            "name": "Plaid IRA",
            "official_name": null,
            "subtype": "ira",
            "type": "investment"
        },
        {
            "account_id": "pQMjDM8l5qczlKJ43lQxu7vmLXwmPZiLZNe11",
            "balances": {
                "available": null,
                "current": 23631.9805,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
            },
            "mask": "6666",
            "name": "Plaid 401k",
            "official_name": null,
            "subtype": "401k",
            "type": "investment"
        },
        {
            "account_id": "oe1PD1gW5lfrxq54BxV3SDv1Z9Q1RdcRdnAla",
            "balances": {
                "available": null,
                "current": 65262,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
            },
            "mask": "7777",
            "name": "Plaid Student Loan",
            "official_name": null,
            "subtype": "student",
            "type": "loan"
        }
    ],
    "item": {
        "available_products": [
            "auth",
            "balance",
            "credit_details",
            "identity",
            "investments",
            "liabilities"
        ],
        "billed_products": [
            "assets",
            "income",
            "transactions"
        ],
        "error": null,
        "institution_id": "ins_109508",
        "item_id": "rM7eD7lKJrt3Wz9XdWlat4871PqXljtlRXKN5",
        "webhook": ""
    },
    "request_id": "3OTJ28DrHZAqcfK"
}

---

# Account Transactions with Plaid

In this section, you will use the Plaid Python SDK to connect to the Developer Sandbox account and grab a list of transactions. You will need to complete the following steps:


1. Use the access token to fetch the transactions for the last 90 days
2. Print the categories for each transaction type
3. Create a new DataFrame using the following fields from the JSON transaction data: `date, name, amount, category`. (For categories with more than one label, just use the first category label in the list)
4. Convert the data types to the appropriate types (i.e. datetimeindex for the date and float for the amount)

### 1. Fetch the Transactions for the last 90 days

In [9]:
# Get transactions for institution for specific date range
start_date = '{:%Y-%m-%d}'.format(datetime.datetime.now() + datetime.timedelta(-90))
end_date = '{:%Y-%m-%d}'.format(datetime.datetime.now())

transaction_response = client.Transactions.get(access_token,start_date,end_date)
pretty_print_response(transaction_response['transactions'][:1])

[
    {
        "account_id": "MQgL4geR7yc51AJZN1PLcnbN8mWNPxc9J8kMg",
        "account_owner": null,
        "amount": 500,
        "category": [
            "Food and Drink",
            "Restaurants"
        ],
        "category_id": "13005000",
        "date": "2019-09-28",
        "iso_currency_code": "USD",
        "location": {
            "address": null,
            "city": null,
            "country": null,
            "lat": null,
            "lon": null,
            "postal_code": null,
            "region": null,
            "store_number": null
        },
        "name": "Tectra Inc",
        "payment_meta": {
            "by_order_of": null,
            "payee": null,
            "payer": null,
            "payment_method": null,
            "payment_processor": null,
            "ppd_id": null,
            "reason": null,
            "reference_number": null
        },
        "pending": false,
        "pending_transaction_id": null,
        "transaction_id": "1g6vV6jLlzIq1RgvX1BDFKl538dW4xU5rAjKx",
        "transaction_type": "place",
        "unofficial_currency_code": null
    }
]

### 2. Print the categories for each transaction

In [10]:
transactions=transaction_response['transactions']
category=list(map(lambda t: t['category'],transactions))
category

[['Food and Drink', 'Restaurants'],
 ['Payment'],
 ['Food and Drink', 'Restaurants'],
 ['Shops', 'Sporting Goods'],
 ['Payment', 'Credit Card'],
 ['Travel', 'Car Service', 'Ride Share'],
 ['Transfer', 'Debit'],
 ['Transfer', 'Deposit'],
 ['Recreation', 'Gyms and Fitness Centers'],
 ['Travel', 'Airlines and Aviation Services'],
 ['Food and Drink', 'Restaurants'],
 ['Food and Drink', 'Restaurants', 'Coffee Shop'],
 ['Food and Drink', 'Restaurants'],
 ['Transfer', 'Credit'],
 ['Travel', 'Airlines and Aviation Services'],
 ['Travel', 'Car Service', 'Ride Share']]

### 3. Create a new DataFrame using the following fields from the JSON transaction data: date, name, amount, category. 

(For categories with more than one label, just use the first category label in the list)

In [25]:
custom_cols=['date','name','amount','category']
cust_data=create_dataframe(custom_cols,transactions)
cust_data

,amount,category,date,name
0,500.00,"[Food and Drink, Restaurants]",2019-09-28,Tectra Inc
1,2078.50,[Payment],2019-09-27,AUTOMATIC PAYMENT - THANK
2,500.00,"[Food and Drink, Restaurants]",2019-09-27,KFC
3,500.00,"[Shops, Sporting Goods]",2019-09-27,Madison Bicycle Shop
4,25.00,"[Payment, Credit Card]",2019-09-18,CREDIT CARD 3333 PAYMENT *//
5,5.40,"[Travel, Car Service, Ride Share]",2019-09-18,Uber 063015 SF**POOL**
6,5850.00,"[Transfer, Debit]",2019-09-17,ACH Electronic CreditGUSTO PAY 123456
7,1000.00,"[Transfer, Deposit]",2019-09-17,CD DEPOSIT .INITIAL.
8,78.50,"[Recreation, Gyms and Fitness Centers]",2019-09-16,Touchstone Climbing
9,-500.00,"[Travel, Airlines and Aviation Services]",2019-09-16,United Airlines
10,12.00,"[Food and Drink, Restaurants]",2019-09-15,McDonald's
11,4.33,"[Food and Drink, Restaurants, Coffee Shop]",2019-09-15,Starbucks
12,89.40,"[Food and Drink, Restaurants]",2019-09-14,SparkFun
13,-4.22,"[Transfer, Credit]",2019-09-13,INTRST PYMNT
14,500.00,"[Travel, Airlines and Aviation Services]",2019-09-03,United Airlines
15,6.33,"[Travel, Car Service, Ride Share]",2019-09-01,Uber 072515 SF**POOL**

### 4. Convert the data types to the appropriate types 

(i.e. datetimeindex for the date and float for the amount)

In [12]:
# YOUR CODE HERE

---

# Income Analysis with Plaid

In this section, you will use the Plaid Sandbox to complete the following:
1. Determine the previous year's gross income and print the results
2. Determine the current monthly income and print the results
3. Determine the projected yearly income and print the results

In [13]:
# YOUR CODE HERE

---

# Budget Analysis
In this section, you will use the transactions DataFrame to analyze the customer's budget

1. Calculate the total spending per category and print the results (Hint: groupby or count transactions per category)
2. Generate a bar chart with the number of transactions for each category 
3. Calulate the expenses per month
4. Plot the total expenses per month

### Calculate the expenses per category

In [14]:
# YOUR CODE HERE

### Calculate the expenses per month

In [15]:
# YOUR CODE HERE